rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth.token.email == 'lagopauline28@gmail.com';
    }

    match /shoes/{shoeId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /promoCodes/{promoCodeId} {
        allow read, write: if isAdmin();
    }

    match /orders/{orderId} {
      allow create: if request.auth != null;
      
      // Admin access: Admins can read, update, and list all orders.
      allow get, list, update: if isAdmin();

      // User access: Users can only get or list their OWN orders.
      allow get: if request.auth.uid == resource.data.userId;
      allow list: if request.auth.uid == request.query.where.userId;
    }
  }
}
